## Let's begin by loading the small subsample of the data

In [16]:
# отключим предупреждения Anaconda
import warnings
warnings.simplefilter('ignore')

# будем отображать графики прямо в jupyter'e
%pylab inline

#увеличим дефолтный размер графиков
from pylab import rcParams
rcParams['figure.figsize'] = 8, 5
import seaborn as sns
import pandas
% pylab inline

Populating the interactive namespace from numpy and matplotlib
Populating the interactive namespace from numpy and matplotlib

In [8]:
# Take first 5M rows
N = 5e6
data = pandas.read_csv("data/trip_data_1.csv", nrows=N)

Populating the interactive namespace from numpy and matplotlib

In [12]:
data.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>rate_code</th>
      <th>passenger_count</th>
      <th>trip_time_in_secs</th>
      <th>trip_distance</th>
      <th>pickup_longitude</th>
      <th>pickup_latitude</th>
      <th>dropoff_longitude</th>
      <th>dropoff_latitude</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>5.000000e+06</td>
      <td>5.000000e+06</td>
      <td>5.000000e+06</td>
      <td>5.000000e+06</td>
      <td>5.000000e+06</td>
      <td>5.000000e+06</td>
      <td>4.999962e+06</td>
      <td>4.999962e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>1.040434e+00</td>
      <td>1.679133e+00</td>
      <td>6.944157e+02</td>
      <td>2.945738e+00</td>
      <td>-7.264334e+01</td>
      <td>4.001542e+01</td>
      <td>-7.261038e+01</td>
      <td>3.999927e+01</td>
    </tr>
    <tr>
      <th>std</th>
      <td>3.450952e-01</td>
      <td>1.351074e+00</td>
      <td>4.903858e+02</td>
      <td>3.430111e+00</td>
      <td>1.007255e+01</td>
      <td>7.936117e+00</td>
      <td>1.018828e+01</td>
      <td>7.981045e+00</td>
    </tr>
    <tr>
      <th>min</th>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>-2.134648e+03</td>
      <td>-3.447918e+03</td>
      <td>-2.331833e+03</td>
      <td>-3.255573e+03</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>3.600000e+02</td>
      <td>1.100000e+00</td>
      <td>-7.399216e+01</td>
      <td>4.073458e+01</td>
      <td>-7.399151e+01</td>
      <td>4.073371e+01</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>1.000000e+00</td>
      <td>1.000000e+00</td>
      <td>5.810000e+02</td>
      <td>1.800000e+00</td>
      <td>-7.398189e+01</td>
      <td>4.075238e+01</td>
      <td>-7.398046e+01</td>
      <td>4.075281e+01</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1.000000e+00</td>
      <td>2.000000e+00</td>
      <td>9.000000e+02</td>
      <td>3.250000e+00</td>
      <td>-7.396722e+01</td>
      <td>4.076679e+01</td>
      <td>-7.396423e+01</td>
      <td>4.076777e+01</td>
    </tr>
    <tr>
      <th>max</th>
      <td>2.100000e+02</td>
      <td>2.080000e+02</td>
      <td>1.080000e+04</td>
      <td>1.000000e+02</td>
      <td>8.084212e+01</td>
      <td>3.124198e+03</td>
      <td>1.114939e+02</td>
      <td>3.477106e+03</td>
    </tr>
  </tbody>
</table>
</div>

## Time to visualize some data

In [17]:
cols = ['passenger_count', 'trip_time_in_secs']
sns_plot = sns.pairplot(data[cols])
sns_plot.savefig('pairplot.png')
%matplotlib inline